{% extends 'core/base.html' %}

{% block contenido %}
    <h1 style="margin-top: 30px;text-align: center;">Lista de Informes</h1>
<!-- 
    <form action="" method="get">
        <input type="text", name="busqueda", placeholder="Buscar categoría...">
    </form>
     -->
    <a href="{% url 'gestion:informe_create' %}"><button style="background-color:lightgreen; color:black;border-color: lightgreen;">Crear Informe</button></a>
    <table>
        <thead>
            <tr style="text-align: center;"> 
                <th>Nombre</th>
                <th>Informe</th>
                <th>Año</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr style="text-align: center;">
                    <td>{{ object.nombre }}</td>
                    <td style="text-align: left">{{ object.informe}}</td>
                    <td>{{ object.año}}</td>
                    <td>
                        <a href="{% url 'gestion:informe_detail' object.id %}" style="color: forestgreen;">Ver | </a>
                        <a href="{% url 'gestion:informe_update' object.id %}" style="color: forestgreen;">Editar | </a>
                        <a href="{% url 'gestion:informe_delete' object.id %}" style="color: forestgreen;">Eliminar</a>
                    </td>
                </tr    >
            {% empty %}
                <tr>
                    <td>No hay datos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'core:index' %}"><button style="background-color:lightgreen; color:black;border-color: lightgreen;">Volver al inicio</button></a>
{% endblock contenido %}