{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}

{% block contenido %}

<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light" style="margin-right: 150px;">Gestión Financiera Familiar</h1>
            <p style="margin-right: 150px;">Bienvenido a la herramienta que te permite visualizar los ingresos y gastos tuyos y de tu familia de manera simple y práctica.</p>
            <a class="btn btn-primary" href="{% url 'core:login' %}">Iniciar sesión</a>
        </div>
    </div>
</div>
{% endblock contenido %}


{% extends 'core/base.html' %}

{% block contenido %}
{% load humanize %}
    <h1>Lista de Transacciones</h1>

    <a href="{% url 'gestion:transaccion_create' %}"><button>Crear Transaccion</button></a>
    <table>
        <thead>
            <tr> 
                <th>Transacciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.nombre }} | {{ object.get_tipo_display}} | {{ object.monto|intcomma }} | {{ object.get_categoria_display }} </td>
                    <td>
                        <a href="{% url 'gestion:transaccion_detail' object.id %}">Ver | </a>
                        <a href="{% url 'gestion:transaccion_update' object.id %}">Editar | </a>
                        <a href="{% url 'gestion:transaccion_delete' object.id %}">Eliminar</a>
                    </td>
                </tr    >
            {% empty %}
                <tr>
                    <td>No hay datos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'core:index' %}"><button>Volver al inicio</button></a>
{% endblock contenido %}