{% extends 'gestion/base.html' %}

{% block contenido %}
{% load humanize %}
    <h1>Lista de Transacciones</h1>

    <form action="" method="get">
        <input type="text", name="busqueda", placeholder="Buscar categoría...">
    </form>
    
    <a href="{% url 'gestion:transaccion_create' %}"><button>Crear Transaccion</button></a>
    <table>
        <thead>
            <tr> 
                <th>Transacciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.nombre }} | {{ object.get_tipo_display}} | {{ object.monto|intcomma }} | {{ object.get_categoria_display }} </td>
                    <td>
                        <a href="{% url 'gestion:transaccion_detail' object.id %}">Ver | </a>
                        <a href="{% url 'gestion:transaccion_update' object.id %}">Editar | </a>
                        <a href="{% url 'gestion:transaccion_delete' object.id %}">Eliminar</a>
                    </td>
                </tr    >
            {% empty %}
                <tr>
                    <td>No hay datos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'gestion:index' %}"><button>Volver al inicio</button></a>
{% endblock contenido %}