{% extends 'core/base.html' %}

{% block contenido %}
{% load humanize %}
    <h1>Detalle Transacción</h1>

    <ul>
        <li><strong>Nombre:</strong> {{object.nombre}}</li>
        <li><strong>Operacion:</strong> {{object.get_tipo_display}}</li>
        <li><strong>Monto:</strong> {{object.monto|intcomma}}</li>
        <li><strong>Fecha:</strong> {{object.fecha}}</li>
        <li><strong>Categoria: </strong>{{object.get_categoria_display}}</li>
        <li><strong>Descripción:</strong>
            {% if object.descripcion %}
                {{object.descripcion}}
            {% else %}
                -
            {% endif %}</li>
    <br>
    <a href="{% url 'gestion:transaccion_list' %}"><button>Volver a transacciones</button></a>
{% endblock contenido %}