{% extends 'core/base.html' %}

{% block contenido %}
{% load humanize %}
    <h1>Detalle Transacción</h1>

    <ul>
        <li><strong>Nombre:</strong> {{object.usuario}}</li>
        <li><strong>DNI:</strong> {{object.dni}}</li>
        <li><strong>Fecha de Nacimiento:</strong> {{object.fecha_nacimiento}}</li>
        <li><strong>Edad:</strong> {{object.calcular_edad}}</li>
        <li><strong>Foto: </strong>
            {% if object.foto %}
            <img src="{{ object.foto.url }}" alt="Foto" class="img-fluid rounded" style="max-width: 200px;">
        {% else %}
            <em>Sin avatar</em>
        {% endif %}
        </li>
    <br>
    <a href="{% url 'gestion:usuario_list' %}"><button>Volver a Usuarios</button></a>
{% endblock contenido %}