{% extends 'core/base.html' %}

{% block contenido %}
    <h1>Lista de Usuarios</h1>
    <a href="{% url 'gestion:usuario_create' %}"><button>Crear Usuario</button></a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th><th>DNI</th><th>Edad</th><th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{object.usuario.username }}</td>
                    <td>{{object.dni}}</td>
                    <td>{{object.calcular_edad}}</td>
                    <td>
                        <a href="{% url 'gestion:usuario_update' object.id %}">Editar | </a>
                        <a href="{% url 'gestion:usuario_detail' object.id %}">Ver | </a>
                        <a href="{% url 'gestion:usuario_delete' object.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td> No hay usuarios creados</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'core:index' %}"><button>Volver al inicio</button></a>
{% endblock contenido %}